.App {
  text-align: center;
}



.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  color: white;


  #calculator {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
    background: #f4f4f40f;
  }

 
  .display {
    width: 100%;
    height: 60px;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: black;
    color: white;
    
    #formula{
      opacity:  0.5;
    }
  }
  
  .col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;

    *{
    background-color: #ffffff;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif; /* or any other preferred font */
    font-size: 18px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    user-select: none; /* Prevent text selection */
      
    }

    *:hover {
      background-color: #0000000a;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
    

  }

  .zerobutton{
    grid-column: 1 / span 2;
  }
  .clearbutton{
    grid-column: 1 / span 2;
    background: rgba(111, 0, 0, 0.928);
    color: white;
  }
  
  .operator{
    background: #141c34;  
    color: white;
  }

  .equalsbutton{
    grid-column: 1 / span 4;
    background: #1c6ea4;
    color: white;
    border-radius: 5px;
  }

  .number{
    background: rgb(60, 60, 130);
    color: white;
  }

}